/* 3.5 Buttons */

.btn {
	margin-right: 5px;
	padding: 12px 28px;
	font-family: $content-font;
	font-size: 13.5px;
	font-weight: bold;
	line-height: inherit;
	border-radius: 30px;
	background: none;
	transition: $primary-transition;

	// Button Styles
	&.btn-primary {
		color: $white-color;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		border: 1px solid transparent;
		background: $secondary-color;

		&:hover,
		&:active:focus {
			background: darken( $secondary-color, 3);
			border-color: transparent;
		}
	}

	&.btn-outline {
		color: rgba(255,255,255,0.9);
		border: 2px solid rgba(255,255,255,0.2);

		&:hover {
			color: rgba(255,255,255,1);
			border: 2px solid rgba(255,255,255,0.4);
		}

		&.outline-dark {
			color: rgba(50, 50, 50, 0.6);
			border-color: rgba(50, 50, 50, 0.2);

			&:hover {
				border-color: rgba(50, 50, 50, 0.4);
			}
		}
	}

	&:focus,
	&:active,
	&:active:focus {
		outline: none;
	}

	// Button options
	&.fullwidth {
		width: 100%;
	}

	i {
		position: relative;
		margin-right: 5px;
		vertical-align: middle;
		font-size: 16px;
	}
}

.jumbotron {

	.btn {
		margin: 5px 5px 5px 0;

		&.btn-primary {
			border: 2px solid transparent;
		}
	}
}

.content-area {

	.btn {

		&.btn-outline {
			color: rgba(50, 50, 50, 0.4);
			border: 2px solid rgba(50, 50, 50, 0.2);

			&:hover {
				color: rgba(50, 50, 50, 0.5);
				border: 2px solid rgba(50, 50, 50, 0.3);
			}
		}
	}
}

.call-to-action {

	.btn {

		&.btn-outline {
			color: rgba(255,255,255,0.9);
			border: 2px solid rgba(255,255,255,0.2);

			&:hover {
				color: rgba(255,255,255,1);
				border: 2px solid rgba(255,255,255,0.4);
			}
		}
	}
}

.textwidget {

	p {

		+ .btn {
			margin-top: 20px;
		}
	}
}