/* 11.0 Custom Widgets */

/* Featured Page Widget */
.featured-page {

	.featured-page--image {
		position: relative;

		img {
			width: 100%;
			height: auto;
			border-radius: 2px;
		}

		.featured-page--overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			visibility: hidden;
			opacity: 0;
			border-radius: 2px;
			background-color: rgba(0,0,0,0.4);
			transition: $primary-transition;

			.overlay--center {
				position: absolute;
				top: 47%;
				left: 0;
				right: 0;
				text-align: center;
				transform: translateY(-50%);
				transition: top 200ms ease-out;

				span {
					padding: 8px 18px;
					font-size: 13px;
					font-weight: bold;
					font-family: $content-font;
					color: $white-color;
					text-shadow: 0 1px 1px rgba(50,50,50,0.2);
					border-radius: 25px;
					background-color: rgba(0,0,0,0.4);
					transition: $primary-transition;

					&:hover {
						background-color: $secondary-color;
					}
				}
			}
		}

		&:hover {
			.featured-page--overlay {
				visibility: visible;
				opacity: 1;

				.overlay--center {
					top: 50%;
				}
			}
		}
	}

	.featured-page--content {

		.featued-page--title {
			margin: 25px 0 15px 0;
			font-size: 20px;

			a {
				color: $darker-color;
				text-decoration: none;
			}

			&:hover {
				a {
					color: $primary-color;
				}
			}
		}
	}
}

/* Icon Box Widget */
.icon-box {
	position: relative;
	display: block;
	text-decoration: none;
	transition: $primary-transition;

	&--title {
		margin: 0;
		font-size: 16px;
	}

	&--icon {
		float: left;
		margin-right: 20px;
		width: 40px;

			@media(min-width: $screen-md) {
				width: auto;
			}

		i {
			font-size: 40px;
			transition: $primary-transition;
		}
	}

	&--text {
		overflow: hidden;
	}
}

a.icon-box {

	&:hover {
		text-decoration: none;
	}
}

// Icon Box in Header (color changes)
.header-widgets {

	.icon-box {

		&--text {
			float: left;
		}

		&--title {
			color: rgba(50,50,50,0.6);
		}

		&--icon {

			i {
				color: rgba(50,50,50,0.2);
			}
		}
	}
}

// Icon Box in Footer (color changes)
.footer {

	.icon-box {

		&--text {
			@media (min-width: $screen-md) {
				overflow: hidden;
			}
		}

		&--title {
			color: $white-color;
		}

		&--description {
			color: rgba(255,255,255,0.4);
			word-break: break-word;
		}

		&--icon {

			i {
				color: rgba(255,255,255,0.4);

				@media (min-width: $screen-md) {
					font-size: 28px;
				}
				@media (min-width: $screen-lg) {
					font-size: 36px;
				}
			}
		}
	}
}

// Font Awesome 4 size fix
body.font-awesome-4 {


	.footer {

		.icon-box--icon {

			i {

				@media (min-width: $screen-md) {
					font-size: 32px;
				}
				@media (min-width: $screen-lg) {
					font-size: 40px;
				}
			}
		}
	}
}

// Icon Box in content area
.content-area {
	.icon-box {
		padding: 30px;
		border-radius: 1px;
		border: 1px solid rgba(0, 0, 0, 0.08);

		&--text {
			margin-left: 75px;
		}

		&--title {
			margin-bottom: 10px;
			font-size: 18px;
			color: $darker-color;
		}

		&--description {
			font-weight: normal;
			color: $text-color;
		}

		&--icon {
			position: absolute;
			top: 30px;
			width: 45px;
			height: calc(100% - 60px);
			text-align: center;
			border-radius: 25px;
			border: 1px solid rgba(0, 0, 0, 0.08);
			transition: $primary-transition;

			i {
				position: relative;
				top: calc(50% - 11px);
				font-size: 24px;
				color: $primary-color;
			}
		}

		&:hover {
			border-color: #e6e6e6;
			box-shadow: 0 1px 2px rgba(50, 50, 50, 0.1);

			.icon-box--icon {
				background-color: $primary-color;
				border: transparent;

				i {
					color: $white-color;
				}
			}
		}
	}
}


/* Social Icons Widget */
.social-icons {

	a {
		margin: 0 4px;
		text-decoration: none;
		transition: $primary-transition;

		i {
			font-size: 32px;
		}
	}
}

.footer {

	.social-icons {
		margin-top: 4px;

		a {
			color: rgba(255, 255, 255, 0.35);

			&:hover {
				color: $white-color;
			}

			i {
				@media (min-width: $screen-md) {
					font-size: 28px;
				}
				@media (min-width: $screen-lg) {
					font-size: 32px;
				}
			}
		}
	}
}

// Jumbotron Social Icons Widget
.jumbotron-widgets {

	.social-icons {
		a {
			padding: 0 3px;
			font-size: 26px;
			color: $primary-color;
			line-height: 42px;

			@media(min-width: $screen-md) {
				color: rgba(50,50,50,0.4);
			}

			&:hover {
				color: rgba(50,50,50,0.5);
			}
		}
	}
}


/* Opening Hours Widget */
.opening-hours {

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			padding: 10px 0;

			span.right {
				float: right;
				font-size: 13.5px;
			}

			span.label {
				padding: 2px 15px;
				font-size: 12px;
				color: $white-color;
				text-shadow: 0 1px 1px rgba(0,0,0,0.1);
				border-radius: 2px;
			}
		}
	}
}

/* Opening Hours Widget in content area */
.content-area {

	.opening-hours {
		padding: 20px 35px;
		border-radius: 2px;
		background: #F5F8FB;

		@media(min-width: $screen-md) and (max-width: $screen-lg) {
			padding: 20px 25px;
		}

		ul {

			li {
				display: flex;
				justify-content: space-between;
				font-size: 13px;
				font-weight: bold;
				color: rgba(112, 119, 128, 0.53);
				text-transform: uppercase;
				border-bottom: 1px dashed rgba(0,0,0,0.1);

				&:last-of-type {
					border-bottom: none;
				}

				&.today {
					color: $primary-color;
				}

				span {

					&.right {
						flex-shrink: 0;
						margin-left: 5px;
					}

					&.label {
						background: $primary-color;
					}
				}
			}
		}

		.extra {
			display: block;
			margin-top: 2px;
			text-align: center;
			padding-top: 15px;
			border-top: 1px solid rgba(50,50,50,0.1);
		}
	}
}

/* Opening Hours Widget in Footer */
.footer {

	.opening-hours {

		ul {

			li {
				padding: 5px 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);

				&:first-of-type {
					padding-top: 0;
				}

				&:last-of-type {
					padding-bottom: 0;
					border-bottom: none;
				}

				&.today {
					font-weight: bold;
					color: $white-color;
				}

				span.label {
					font-weight: bold;
					background: rgba(0,0,0,0.1);
				}
			}
		}
	}
}


/* Brochure Widget */
.brochure {
	position: relative;
	display: block;
	padding: 15px 20px;
	font-family: $heading-font;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.08);

	i {
		position: relative;
		top: 2px;
		padding-right: 15px;
		margin-right: 13px;
		font-size: 18px;
		color: rgba(0,0,0,0.2);
	    border-right: 1px solid rgba(0,0,0,0.08);
	    transition: $primary-transition;
	}

	span {
		font-family: $content-font;
		font-weight: 600;
		font-size: 14px;
		color: $dark-color;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&::after {
		position: absolute;
		content: "\f105";
		right: 20px;
		top: calc(50% - 12px);
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		font-size: 16px;
		color: rgba(0,0,0,0.15);
	}

	&:hover {
		border-color: #e6e6e6;
		box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);

		i {
			color: $secondary-color;
		}

		&::after {
			color: $dark-color;
		}
	}
}

a.brochure {
	text-decoration: none;
}

.widget_qt_brochure + .widget_qt_brochure {
	margin-top: -15px;
}

.sidebar {

	.widget-brochure + .widget-brochure {
		margin-top: -31px;
	}
}


/* Latest News Post Block Widget */
.news-posts-block {

	.widget-title {
		margin-bottom: 30px;

		a {
			float: right;
			margin: 25px 13px 0 0;
			font-family: $content-font;
			font-size: 14px;
			color: #999999;

			&::after {
				top: 1px;
			}
		}
	}

	.news-post {
		margin-bottom: 30px;

		@media(min-width: $screen-md) {
			margin-bottom: 0;
		}

		&--image {
			position: relative;

			img {
				display: block;
				width: 100%;
				height: auto;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&--date {
			position: absolute;
			left: 30px;
			bottom: 20px;
			padding: 4px 12px;
			font-size: 13px;
			font-weight: bold;
			color: $white-color;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			text-transform: uppercase;
			border-radius: 2px;
			background-color: $secondary-color;

			&:hover {
				background-color: darken( $secondary-color, 3 );
			}
		}

		&--content {
			padding: 30px;
			background: $white-color;
			box-shadow: 0 1px 5px rgba(45, 45, 45, 0.09);
			transition: $primary-transition;

			&:hover {
				box-shadow: 0 2px 5px rgba(45, 45, 45, 0.09);
			}

			p {
				margin-bottom: 0;
			}

			.text-link {
				display: inline-block;
				margin-top: 15px;
			}
		}

		&--title {
			margin: 0 0 15px 0;
			line-height: 1.3;

			a {
				color: $darker-color;
				text-decoration: none;

				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}

/* Latest Posts List Widget */
.news-posts-list {

	a {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 23px 30px;
		text-decoration: none;
		border-top: 1px solid rgba(50,50,50,0.1);
		border-right: 1px solid rgba(50,50,50,0.1);
		border-left: 1px solid rgba(50,50,50,0.1);
		background: $white-color;

		.news-post--title {
			margin: 9px 0 5px 0;
			font-size: 18px;
		}

		img {
			float: left;
			margin-right: 20px;
			width: 65px;
			border-radius: 50%;
		}

		span {
			margin-right: 5px;
			font-size: 13px;
			color: $text-color;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&:hover {
			background: #f9f9f9;
		}

		&:first-of-type {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px; 
		}

		&:last-of-type {
			padding: 16px 30px;
			font-weight: bold;
			text-transform: uppercase;
			border:none;
			color: $white-color;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			background: $secondary-color;

			&::after {
				position: absolute;
				content: "\f105";
				top: 15px;
				right: 30px;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				font-size: 16px;
				color: rgba(255,255,255,0.8);
			}

			&:hover {
				background: darken($secondary-color, 3);
			}
		}
	}
}


/* Testimonials Widget */
.testimonials {
	
	.widget-title {
		display: inline-block;
		width: 100%;
		margin-bottom: 0;

		@media(min-width: $screen-sm) {
			width: auto;
		}
	}

	.testimonial-controls {
		display: inline-block;
		width: 100%;

		@media(min-width: $screen-sm) {
			float: right;
			width: auto;
		}
	}

	.testimonial-control {
		float: left;
		position: relative;
		margin: 25px 0 10px 0;
		width: 50%;
		height: 47px;
		font-size: 20px;
		color: $white-color;
		text-align: center;
		background: $secondary-color;

		@media(min-width: $screen-sm) {
			margin: 0;
			width: 57px;
		}

		&.left {
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
		}

		&.right {
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
			border-left: 1px solid rgba(50,50,50,0.15);
		}

		&:hover {
			background: darken($secondary-color, 3);
		}

		i {
			position: relative;
			top: calc(50% - 16px);
			font-weight: bold;
		}
	}

	.testimonial--quote {
		position: relative;
		margin: 30px 0;
		padding: 30px 40px 35px 90px;
		font-size: 15px;
		line-height: 1.8;
		color: $text-color;
		border-radius: 2px;
		border-left: none;
		background: #ffffff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

		&::before {
			position: absolute;
			content: '“';
			top: 22px;
			left: 20px;
			width: 50px;
			height: 50px;
			font-size: 91px;
			font-family: Georgia, Times, 'Times New Roman', serif;
			line-height: 98px;
			color: rgba(50,50,50,0.1);
			text-shadow: none;
			border-radius: 50%;
			text-align: center;
			transition: $primary-transition;
		}

		&::after {
			position: absolute;
			content: "";
			left: 35px;
			bottom: -5px;
			width: 18px;
			height: 18px;
			background-color: $white-color;
			transform: rotate(45deg);
			box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.015);
		}

		&:hover {
			box-shadow: 0 1px 5px rgba(45, 45, 45, 0.09);

			&::before {
				color: rgba(50,50,50,0.15);
			}
		}
	}

	.testimonial--author {
		display: block;
		font-family: $heading-font;
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		color: $darker-color;
	}

	.testimonial--description {
		font-style: normal;
		font-weight: bold;
		color: $primary-color;
	}

	// Different styles
	&.style-simple {

		.testimonial--quote {
			padding: 0;
			margin-bottom: 20px;
			background: transparent;
			box-shadow: none;

			&::before,
			&::after {
				display: none;
			}
		}

		.testimonial--image {
			margin-bottom: 20px;
		}
	}

	&.style-boxed {

		&.text-left {

			.testimonial--image {
				float: left;
				margin-right: 20px;
			}

			.testimonial--person {
				display: flex;
				align-items: center;
			}
		}

		&.text-center {

			.testimonial--person {
				display: inline-flex;
				align-items: center;
			}

			.testimonial--image {
				margin-right: 20px;
			}

			.testimonial--names {
				text-align: left;
			}
		}

		&.text-right {

			.testimonial--image {
				float: right;
				margin-left: 20px;
			}

			.testimonial--person {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			.testimonial--image {
				order: 2;
			}
		}
	}

	&.font-normal {

		.testimonial--quote {
			font-style: normal;
		}
	}

	&.text-center {

		.testimonial--quote {

			&::after {
				left: calc(50% - 15px);
			}
		}
	}

	&.text-right {

		.testimonial--quote {

			&::after {
				left: auto;
				right: 30px;
			}
		}
	}
}

/* Call to Action Widget */
.call-to-action {

	.call-to-action--content {

		.call-to-action--title {
			font-family: $heading-font;
			font-weight: bold;
			text-shadow: 0 1px 1px rgba(0,0,0,0.1);
		}
	}

	.call-to-action--buttons {

		.btn {
			margin-right: 10px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&.cta-inline {
		display: table;
		width: 100%;
		padding: 0 30px;

		.call-to-action--content {
			float: left;
			padding: 33px 0;
			text-align: left;

			.call-to-action--title {
				font-size: 24px;
			}
		}

		.call-to-action--buttons {
			float: right;
			padding: 25px 0;
			text-align: right;
		}

		&.with-subtitle {

			.call-to-action--buttons {
				padding: 40px 0 35px 0;
			}
		}
	}

	&.cta-block {

		.call-to-action--content {
			text-align: center;

			.call-to-action--title {
				font-size: 22px;

				@media(min-width: $screen-md) {
					font-size: 26px;
				}

			}
			.call-to-action--subtitle {
				margin-top: 10px;
				font-size: 16px;
			}
		}

		.call-to-action--buttons {
			padding-top: 20px;
			text-align: center;
		}

		&.with-subtitle {

			.call-to-action--buttons {
				padding: 30px 0 0 0;
			}
		}
	}
}

// When pagebuilder layout is stretched remove the left and right padding
.siteorigin-panels-stretch {

	.call-to-action {

		&.cta-inline {
			padding: 0;
		}
	}
}

// When CTA inline is used on frontpage slightly bigger title
body.home {

	.call-to-action {

		&.cta-inline {

			.call-to-action--content {

				.call-to-action--title {
					
					font-size: 24px;
				}
			}
		}
	}
}

/* Team Member Widget */
.team-member {
	background: $white-color;

	&--image {
		position: relative;

		img {
			width: 100%;
			height: auto;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:hover {
			.team-member--social {
				opacity: 1;
				visibility: visible;

				.overlay--center {
					top: 50%;
				}
			}
		}
	}

	&--content {
		padding: 30px;
		border-style: solid;
		border-color: rgba(50,50,50,0.1);
		border-width: 0 1px 1px 1px;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	&--name {
		margin: 0;
		font-size: 20px;

		a {
			color: $darker-color;
			text-decoration: none;

			&:hover {
				color: $primary-color;
			}
		}
	}

	&--tag {
		display: block;
		font-weight: bold;
		color: $secondary-color;
	}

	&--description {
		margin: 20px 0 0 0;
		padding-top: 20px;
		border-top: 1px solid rgba(50,50,50,0.1);
	}

	&--social {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		visibility: hidden;
		opacity: 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		background-color: rgba(0,0,0,0.4);
		transition: all 150ms ease-in-out;

		.overlay--center {
			position: absolute;
			top: 47%;
			left: 0;
			right: 0;
			text-align: center;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			transition: top 200ms ease-out;

			a {
				display: inline-block;
				width: 40px;
				height: 40px;
				font-size: 18px;
				color: $white-color;
				line-height: 40px;
				text-align: center;
				border-radius: 50px;
				background: rgba(0,0,0,0.3);

				&:hover {
					background: $primary-color;
				}
			}
		}
	}

	.text-link {
		display: inline-block;
		margin-top: 15px;
	}
}


/* Counter Widget */
.counter {
	display: inline-block;
	position: relative;
	padding: 25px 0;
	width: auto;

	.counter--icon {
		position: absolute;
		top: calc(50% - 35px);
		width: 55px;
		height: 70px;
		text-align: center;
		border-radius: 30px;
		border: 2px solid rgba(0, 0, 0, 0.06);
		transition: $primary-transition;
	
		i {
			position: relative;
			top: calc(50% - 11px);
			font-size: 24px;
			color: rgba(0, 0, 0, 0.2);
			transition: $primary-transition;
		}
	}
	
	.counter--text {
		margin-left: 75px;

		.counter--before,
		.counter--after,
		.counter--number {
			font-family: $heading-font;
			font-size: 38px;
			font-weight: bold;
			line-height: 30px;
			color: $darker-color;
			transition: $primary-transition;
		}

		.counter--title {
			display: block;
			font-size: 18px;
			font-weight: bold;
			color: $dark-color;
		}
	}

	&:hover {
		
		.counter--icon {
			border: 2px solid transparent;
			background: rgba(0, 0, 0, 0.095);

			i {
				color: #fff;
			}
		}
	}

	// Light Counter
	&.light-counter {

		.counter--icon {

			i {
				color: rgba(255, 255, 255, 0.8);
			}
		}

		.counter--before,
		.counter--after,
		.counter--number {
			color: rgba(255,255,255,0.9);
		}

		.counter--title {
			color: rgba(255, 255, 255, 0.4);
		}

		// Light Counter Hover
		&:hover {

			.counter--icon {

				i {
					color: rgba(255, 255, 255, 0.9);
				}
			}

			.counter--number {
				color: rgba(255, 255, 255, 0.9);
			}
		}
	}
}

/* Clients Logo's Snippet */
.client-logos {
	text-align: center;

	@media (min-width: $screen-md) {
		display: table;
		margin: 0 -15px;
	}

	.logo {

		@media (min-width: $screen-md) {
			display: table-cell;
			padding: 0 15px;
		}
	}

	img {
		opacity: 0.6;
		margin-bottom: 20px;
		border: 1px solid rgba(50,50,50,0.15);
		transition: $primary-transition;

		@media(min-width: $screen-md) {
			margin-bottom: 0;
		}

		&:hover {
			opacity: 1;
			border-color: $secondary-color;
		}
	}
}

.brand-image {
	position: relative;
	display: inline-block;
	border-radius: 0;
	-webkit-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.brand-hover {
	opacity: 0.6;

	&:hover {
		opacity: 1;
	}
}

.brand-border {
	padding: 15px;
	border: 1px solid rgba(50, 50, 50, 0.15);

	&:hover {
		border-color: #9A65A5;
	}
}

/* Google Iframe Map */
.qt-map-iframe {

	iframe {
		vertical-align: bottom;
	}
}