.woocommerce a.button,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce button.button,
.woocommerce #respond input#submit {
  display: inline-block;
  padding: 17px 22px;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #56afd5;
  transition: all 100ms ease-out;
}
.woocommerce a.button:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button:hover,
.woocommerce #respond input#submit:hover {
  background-color: #4aa9d2;
  color: #ffffff;
}
.woocommerce #reviews #comments h2,
.woocommerce #reviews h3,
.woocommerce div.product .woocommerce-tabs h2,
.woocommerce .related h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.woocommerce form .form-row {
  padding: 0;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
  border-color: red;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  display: block;
  padding: 15px;
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: normal;
  color: #a5a5a5;
  border-radius: 1px;
  background: #f9f9f9;
  border: 1px solid rgba(50, 50, 50, 0.1);
}
.woocommerce form .form-row input.input-text:active, .woocommerce form .form-row input.input-text:focus,
.woocommerce form .form-row textarea:active,
.woocommerce form .form-row textarea:focus {
  border-color: #cecece;
}
.woocommerce form .form-row#billing_country_field {
  margin-bottom: 25px;
}
.woocommerce form .form-row#billing_address_1_field {
  margin-bottom: 5px;
}
.woocommerce form .form-row #order_comments {
  min-height: 146px;
}
.woocommerce .woocommerce-pagination {
  display: block;
  margin: 0;
  padding-top: 60px;
  text-align: center;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: rgba(50, 50, 50, 0.1);
}
.woocommerce nav.woocommerce-pagination ul {
  position: relative;
  margin: 0;
  border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
  margin-right: 5px;
  border-right: none;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
  color: #ffffff;
  background-color: #9A65A5;
  border-color: transparent;
}
.woocommerce nav.woocommerce-pagination ul li .page-numbers {
  color: #a5a5a5;
  width: 60px;
  padding: 21px 0;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  border-radius: 1px;
  transition: all 100ms ease-out;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover {
  background-color: #9A65A5;
  border-color: transparent;
  color: #ffffff;
}
.woocommerce .woocommerce-ordering .orderby {
  padding: 5px 6px;
  height: 34px;
  margin: -7px 6px 15px 0;
  border: 1px solid #e6e6e6;
  background: none;
}
.woocommerce .star-rating span:before {
  color: #56afd5;
}
@media (min-width: 992px) {
  .woocommerce ul.products li.product {
    width: 23%;
    margin: 0 2.5% 50px 0;
  }
}
.woocommerce ul.products li.product a img {
  margin-bottom: 20px;
  outline: 3px solid transparent;
  border-radius: 2px;
  transition: all 100ms ease-out;
}
.woocommerce ul.products li.product a:hover img {
  outline-color: #56afd5;
}
.woocommerce ul.products li.product .onsale {
  position: absolute;
  left: 25px;
  top: 25px;
  margin: 0;
  width: 70px;
  height: 30px;
  min-height: 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  z-index: 2;
  border-radius: 1px;
  background-color: #56afd5;
  transition: all 100ms ease-out;
}
.woocommerce ul.products li.product .onsale:hover {
  background-color: #4aa9d2;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product.product h3 {
  padding: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #464646;
  transition: all 100ms ease-out;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.woocommerce ul.products li.product .woocommerce-loop-product__title:hover, .woocommerce ul.products li.product.product h3:hover {
  color: #56afd5;
}
.woocommerce ul.products li.product .price {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: #999999;
}
.woocommerce ul.products li.product .price del {
  line-height: 19px;
}
.woocommerce ul.products li.last {
  margin-right: 0;
}
.woocommerce .quantity {
  width: 50%;
  margin-right: 0;
}
.woocommerce .quantity .qty {
  width: 100%;
  height: 55px;
  padding: 0;
  font-size: 14px;
  color: #a5a5a5;
}
.woocommerce span.onsale {
  position: absolute;
  left: 25px;
  top: 25px;
  margin: 0;
  width: 70px;
  height: 30px;
  min-height: 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  z-index: 2;
  border-radius: 1px;
  background-color: #56afd5;
  transition: all 100ms ease-out;
}
.woocommerce div.product .product_title {
  margin-bottom: 0;
}
.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 10px;
}
.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  color: #a5a5a5;
}
.woocommerce div.product .images,
.woocommerce div.product .summary {
  margin-top: 0;
}
.woocommerce div.product p.price {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #56afd5;
}
.woocommerce div.product p.price del {
  font-weight: normal;
  color: #a5a5a5;
}
.woocommerce div.product form.cart {
  margin: 30px 0;
}
.woocommerce div.product form.cart div.quantity {
  margin: 0;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
  width: 45%;
  height: 55px;
  margin-left: 5%;
  font-size: 14px;
  outline: none;
  background: #9A65A5;
  transition: all 100ms ease-out;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button:hover {
  background: #935c9e;
}
.woocommerce div.product .flex-viewport {
  margin-bottom: 20px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin-bottom: 40px;
  padding: 0;
  border-radius: 2px;
  background-color: #f2f2f2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 0;
  margin: 0 -3px;
  background: none;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 1px 0 0;
  border-radius: 0;
  transition: all 100ms ease-out;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:first-of-type {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  color: #ffffff;
  background-color: #9A65A5;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li:active {
  background-color: #935c9e;
  border-color: #935c9e;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a, .woocommerce div.product .woocommerce-tabs ul.tabs li:active a {
  color: #ffffff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  padding: 18px 40px;
  color: #a5a5a5;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  display: none;
}
.woocommerce div.product #reviews .woocommerce-review__author {
  font-size: 15px;
}
.woocommerce div.product #reviews #comments ol.commentlist {
  padding-left: 0;
}
.woocommerce div.product #reviews #comments ol.commentlist li .comment-text {
  padding: 20px 30px 10px 20px;
  border-radius: 1px;
}
.woocommerce div.product #reviews .comment-reply-title {
  display: block;
  margin-top: 20px;
  font-family: 'Nunito';
  font-size: 24px;
  font-weight: bold;
  color: #464646;
  line-height: 1.3;
}
.woocommerce div.product #reviews #review_form label {
  display: block;
  color: #464646;
}
.woocommerce div.product #reviews #review_form .comment-form-cookies-consent {
  margin-top: 20px;
}
.woocommerce div.product #reviews #review_form .comment-form-cookies-consent label {
  display: inline-block;
  margin-left: 5px;
}
.woocommerce div.product #reviews #review_form #respond textarea,
.woocommerce div.product #reviews #review_form #respond input[type="email"],
.woocommerce div.product #reviews #review_form #respond input[type="text"] {
  background: #f9f9f9;
}
.woocommerce div.product #reviews #review_form #respond .form-submit {
  margin-top: 30px;
}
.woocommerce div.product .star-rating::before {
  color: #56afd5;
}
.woocommerce div.product .related .products {
  margin-bottom: 0;
}
.woocommerce div.product .related .products li {
  margin-bottom: 0;
}
.woocommerce .widget_product_categories ul.product-categories {
  padding-left: 0;
}
.woocommerce .widget_product_categories ul.product-categories li {
  position: relative;
  list-style: none;
}
.woocommerce .widget_product_categories ul.product-categories li:first-of-type a {
  border-top: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.woocommerce .widget_product_categories ul.product-categories li:last-of-type a {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.woocommerce .widget_product_categories ul.product-categories li a {
  display: block;
  padding: 16px 25px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: #56afd5;
  border-top: 1px solid rgba(50, 50, 50, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  transition: all 100ms ease-out;
}
.woocommerce .widget_product_categories ul.product-categories li a:hover {
  color: #ffffff;
  background-color: #4aa9d2;
}
.woocommerce .widget_product_categories ul.product-categories li > span {
  position: absolute;
  right: 30px;
  top: 16px;
  font-size: 13px;
  color: #ffffff;
}
.woocommerce .widget_product_search .search-field {
  float: left;
  height: 55px;
  outline: none;
  padding: 0 20px;
  width: 65%;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #e6e6e6;
}
.woocommerce .widget_product_search input[type="submit"] {
  height: 55px;
  width: 35%;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  background: #56afd5;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.woocommerce .widget_product_search input[type="submit"]:hover {
  background: #4aa9d2;
}
.woocommerce ul.product_list_widget li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}
.woocommerce ul.product_list_widget li:first-of-type {
  padding-top: 0;
}
.woocommerce ul.product_list_widget li:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.woocommerce ul.product_list_widget li a {
  color: #464646;
  text-decoration: none;
  transition: all 100ms ease-out;
}
.woocommerce ul.product_list_widget li a:hover {
  color: #56afd5;
}
.woocommerce ul.product_list_widget li .star-rating {
  display: block;
  margin: 3px 0 4px 0;
}
.woocommerce ul.product_list_widget li img {
  width: 50px;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  padding: 12px 22px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #f9f9f9;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #dedede;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #56afd5;
}
.woocommerce .widget_shopping_cart .cart_list li {
  padding: 8px 0 8px 45px;
}
.woocommerce .widget_shopping_cart .cart_list li:first-of-type {
  padding-top: 10px;
}
.woocommerce .widget_shopping_cart .cart_list li:last-of-type {
  padding-bottom: 10px;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove {
  top: calc(50% - 10px);
}
.woocommerce .widget_shopping_cart .cart_list .product_list_widget li img {
  width: 30px;
}
.woocommerce .widget_shopping_cart .total {
  padding-top: 10px;
  border-top: 1px solid #dedede;
}
.woocommerce .widget_shopping_cart .button {
  padding: 12px 22px;
  width: calc(50% - 2px);
  text-align: center;
}
.woocommerce table.shop_table {
  border-radius: 1px;
}
.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
  padding: 16px 20px;
  border-collapse: collapse;
  border: none;
}
.woocommerce table.shop_table td {
  border-top: 1px solid rgba(50, 50, 50, 0.1);
}
.woocommerce table.shop_table .product-name a {
  font-weight: bold;
}
.woocommerce table.shop_table .product-quantity .quantity .qty {
  width: 100px;
  height: 40px;
}
.woocommerce table.shop_table a.remove {
  background-color: #f2f2f2;
  border-radius: 25px;
  color: #a5a5a5 !important;
  /* Need to overwrite */
}
.woocommerce table.shop_table a.remove:hover {
  color: #ffffff !important;
  /* Need to overwrite */
  background-color: #56afd5;
}
.woocommerce table.shop_table .booked-wc-checkout-section small {
  font-size: 100%;
}
.woocommerce table.cart .button,
.woocommerce table.cart input.button {
  height: 44px;
  line-height: 0;
  text-transform: uppercase;
}
.woocommerce table.cart td.actions .coupon .input-text {
  height: 44px;
  width: 200px;
  padding: 0 15px;
  margin-right: 10px;
  line-height: 15px;
  background-color: #f9f9f9;
  border-color: #f5f5f5;
}
.woocommerce table.cart td.actions .coupon .input-text:active, .woocommerce table.cart td.actions .coupon .input-text:focus {
  border-color: #cecece;
}
.woocommerce .col2-set {
  margin-bottom: 30px;
}

.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
  padding: 10px 10px 10px 70px !important;
  line-height: 54px;
  font-weight: bold;
  border-top: 0;
  border-radius: 1px;
  background: #f5f5f5;
}
.woocommerce-page .woocommerce-error::before,
.woocommerce-page .woocommerce-info::before,
.woocommerce-page .woocommerce-message::before {
  top: 22px;
  font-size: 20px;
  line-height: 31px;
  color: #56afd5;
}
.woocommerce-page .woocommerce-error a.button,
.woocommerce-page .woocommerce-info a.button,
.woocommerce-page .woocommerce-message a.button {
  margin-top: 3px;
}
.woocommerce-page .woocommerce-error a.button:hover,
.woocommerce-page .woocommerce-info a.button:hover,
.woocommerce-page .woocommerce-message a.button:hover {
  background-color: #4aa9d2;
}
.woocommerce-page .col2-set {
  margin-bottom: 30px;
}

.woocommerce-checkout #payment {
  border-radius: 2px;
  background: #f9f9f9;
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout #payment div.form-row {
  padding: 20px;
  border-bottom-color: #e8e8e8;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  margin-left: 10px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  padding: 17px 0px;
  font-size: 14px;
  background-color: #56afd5;
  text-transform: uppercase;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  background-color: #4aa9d2;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  border: 1px solid rgba(50, 50, 50, 0.1);
  padding: 20px 30px 5px 30px;
  border-radius: 1px;
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
  width: 100%;
}

.woocommerce table.shop_table tbody:first-child tr:first-child th {
  border-bottom: none;
}

.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding-left: 0;
}
.woocommerce-MyAccount-navigation ul li a {
  display: block;
  padding: 16px 30px;
  margin: 3px 0;
  font-size: 15px;
  font-weight: bold;
  color: #a5a5a5;
  text-decoration: none;
  background-color: #f5f5f5;
}
.woocommerce-MyAccount-navigation ul li a:hover {
  color: #fff;
  background-color: #A175AA;
}
.woocommerce-MyAccount-navigation ul li.is-active a {
  color: #fff;
  background-color: #A175AA;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  padding: 30px 30px 15px 30px;
  border-color: #eee;
  border-radius: 2px;
}

.woocommerce form .form-row label.inline {
  margin-left: 10px;
}

.woocommerce-page .select2-dropdown {
  border-radius: 2px;
  border-color: #cecece;
}
.woocommerce-page .select2-dropdown .select2-search__field {
  margin: 5px 10px;
  padding: 6px 15px;
  width: calc( 100% - 20px);
  border-color: #eee;
}
.woocommerce-page .select2-dropdown .select2-search__field:focus, .woocommerce-page .select2-dropdown .select2-search__field:active {
  border-color: #cecece;
}

.woocommerce .select2-container.select2-container--default .select2-selection--single {
  padding: 0 10px;
  outline: none;
  color: #a5a5a5;
  border-radius: 1px;
  background: #f9f9f9;
  border: 1px solid rgba(50, 50, 50, 0.1);
}
.woocommerce .select2-container.select2-container--open .select2-selection--single {
  border-color: #cecece;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.woocommerce .select2-container .select2-selection--single {
  height: 51px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #999;
  line-height: 50px;
  outline: none;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 13px;
  right: 20px;
}
